@charset "utf-8";

/* Reset */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Roboto", Helvetica, Inter, "Apple SD Gothic Neo", sans-serif;
  background-color: #fff;
  line-height: 1.5;
  -webkit-text-size-adjust: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body * {
  margin: 0;
  padding: 0;
}

em,
address {
  font-style: normal;
}
nav,
dl,
ul,
ol,
menu,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  cursor: pointer;
}
.blind {
  overflow: hidden !important;
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  clip: rect(0 0 0 0) !important;
}

/* Layout */
.container {
  display: flex;
  background-color: #f6f6f6;
}
.section {
  width: 1200px;
}
.showcase {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 200px;
  background-color: #fff;
  box-shadow: 0px 2px 12px 0px rgb(0 0 0 / 4%);
}
.showcase .section {
  position: relative;
  padding: 80px 0;
}
.showcase .btn-box {
  position: absolute;
  bottom: 16px;
  right: 0;
}
.showcase .btn-box > button {
  padding: 10px 14px;
  border: 1px solid #b4b4b4;
  background: #fff;
  border-radius: 4px;
  color: #4a4a4a;
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
}
.showcase .btn-box > button + button {
  margin-left: 6px;
}
.showcase .btn-box > button:hover,
.showcase .btn-box > button.selected {
  background-color: #1c90fb;
  border-color: #1c90fb;
  color: #fff;
}
.content {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100%;
  height: calc(100vh - 200px);
  margin-top: 200px;
}
.content .section {
  margin-top: 24px;
}
.content .section .sec-wrap {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 0px rgb(0 0 0 / 8%);
}

/* Table */
.di-tbl {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 2px 2px 2px 0px rgb(0 0 0 / 8%);
}
.di-tbl .tbl-caption {
  display: flex;
  justify-content: space-between;
  padding: 14px 16px;
}
.di-tbl .tbl-caption .title {
  font-size: 18px;
  line-height: 36px;
}
.di-tbl .tbl-caption .search-box {
  position: relative;
}
.di-tbl .tbl-caption .search-box .inp-sch {
  height: 36px;
  min-width: 240px;
  padding: 8px 40px 8px 10px;
  border: 1px solid #dedede;
  border-radius: 4px;
}
.di-tbl .tbl-caption .search-box .btn-sch {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 36px;
  background-color: transparent;
  border: 0;
}
.di-tbl .tbl-caption .search-box .btn-sch .ico-sch {
  width: 24px;
  height: 24px;
  fill: #3b3f44;
}
.di-tbl table {
  width: 100%;
  table-layout: fixed;
  border: 0;
  border-collapse: separate;
  border-spacing: 0;
}
.di-tbl table thead th {
  padding: 12px;
  background-color: #fafafa;
  border-top: 1px solid #f1f1f2;
  color: #696b6f;
  font-size: 14px;
}
.di-tbl table td {
  padding: 12px;
  border-bottom: 1px solid #ebebeb;
  color: #4a4a4a;
  font-size: 14px;
  word-break: break-all;
}

/* Pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .pagein {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination .pagein button,
.pagination .pagein a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
}
.pagination .pagein button {
  background-color: transparent;
  border: 0;
}
.pagination .pagein button .ico-btn {
  width: 24px;
  height: 24px;
  fill: #c1c1c1;
}
.pagination .pagein button:hover,
.pagination .pagein a:hover {
  background-color: rgb(0 0 0 / 4%);
  border-radius: 2px;
}
.pagination .pagein button:hover .ico-btn {
  fill: #4a4a4a;
}
.pagination .pagein a {
  color: #4a4a4a;
  text-decoration: none;
}
.pagination .pagein a.on {
  color: #1c90fb;
  font-weight: bold;
}

/* Table Search Box */
.tbl-tree-wrap {
  display: flex;
  position: relative;
  padding: 16px;
}
.tbl-tree-wrap .tbl-snb {
  position: relative;
  width: 240px;
  margin-right: 12px;
  border: 1px solid #dedede;
  border-radius: 4px;
}
.tbl-tree-wrap .tbl-snb .search-box {
  padding: 14px;
  background-color: #f6f6f6;
}
.tbl-tree-wrap .tbl-snb .search-box .inp-sch {
  width: 100%;
  height: 36px;
  padding: 8px 40px 8px 10px;
  border: 1px solid #dedede;
  border-radius: 4px;
}
.tbl-tree-wrap .tbl-snb .tbl-lists {
  overflow: hidden;
  overflow-y: auto;
  position: absolute;
  top: 64px;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid #dedede;
}
.tbl-tree-wrap .tbl-snb .tbl-lists > ul {
  padding: 10px;
}
.tbl-tree-wrap .tbl-snb .tbl-lists > ul > li {
  margin-top: 10px;
}
.tbl-tree-wrap .tbl-snb .tbl-lists > ul > li button {
  width: 100%;
  padding: 4px 6px;
  border: 1px solid #dedede;
  background: #fff;
  border-radius: 4px;
  color: #4a4a4a;
  font-size: 14px;
  line-height: 1.5;
  box-sizing: border-box;
}
.tbl-tree-wrap .tbl-snb .tbl-lists > ul > li button:hover,
.tbl-tree-wrap .tbl-snb .tbl-lists > ul > li.selected button {
  background-color: #1c90fb;
  border-color: #1c90fb;
  color: #fff;
}
.tbl-tree-wrap .tbl-content {
  flex: 1;
  overflow: auto;
  position: relative;
}
.tbl-tree-wrap .tbl-content .tree-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border: 1px solid #ebebeb;
  border-radius: 4px;
}

@media (max-width: 1200px) {
  .section {
    width: 100%;
    padding: 0 16px;
  }
  .showcase .btn-box {
    right: 16px;
  }
  .di-tbl .tbl-caption .search-box .inp-sch {
    min-width: 180px;
  }
}
